#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF55;
}

#navitem {
    float: left;
}

#navitem a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navitem.here {
    font-family: "Roboto Bold";
}

#navitem a:hover {
    background-color: #FFFFFF99;
}